
body {
	background: #000 url('../img/bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*color:#fff;*/
  overflow-x: hidden;
  overflow-y: hidden;
  min-width: 400px;
  font-family: Microsoft YaHei;
}


.downLoad1, .downLoad2	{
	font-family: Microsoft YaHei;
	font-size: 20px;
	color: #fff;
	position: absolute;
	top:5%;
	animation-delay: 5s;
}

.downLoad1 {	
	left: 5%;
}

.downLoad2 	{
	right: 5%;
}

a.pcLink , a.appLink {
	text-decoration: none;
	color: #fff;
}

a.pcLink:hover ,a.appLink:hover {
	text-decoration: none;
	color: #fff;
}

a.pcLink:visited ,a.appLink:visited {
	text-decoration: none;
	color: #fff;
}

.vertical {
	width: 100%;
	height:auto;
	position: absolute;
	top: 50%;
	transform:  translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform:  translateY(-50%);
	-ms-transform:  translateY(-50%);
	-o-transform:  translateY(-50%);
}

.box1 {
	position: relative;
	width: 100%;
	height: 410px;
}

.horizontal {
	width: auto;
	height:auto;
	position: absolute;
	left: 50%;
	transform:  translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform:  translateX(-50%);
	-ms-transform:  translateX(-50%);
	-o-transform:  translateX(-50%);
	z-index:auto;
}

.box2 {
	position: relative;
	width: 400px;
	height: 410px;
}

.part1 {
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	animation-delay:2.5s;
}
.part2 {
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
	z-index: auto;
	animation-delay:0.5s;
}
.part3 {
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
	z-index: auto;
	animation-delay:1.5s;
}

.button-style1 ,.button-style2{  
    position:absolute;  
    bottom: 0;
    opacity:1;  
    z-index:100;  
    animation-delay: 4s;
}  
.button-style1 {  
    position:absolute;  
   	left: 0 ;   
}  
.button-style2 {  
    position:absolute;  
    right: 0; 
}  

.lk1,.lk2 {  
    text-decoration:none;  
    font-family: Microsoft YaHei; 
    color:#fff;  
    transition:all 0.5s;  
}  
.link1,.link2 {  
    width:100px;  
    height:40px;  
    border:1px solid #fff;  
    -webkit-border:1px solid #fff;  
    border-radius:30px;  
    font-size: 18px;  
    text-align:center;  
    /*background: #000;*/
    /*background-color:rgba(255,255,255,0,1); */
    transition:all 0.8s;  
}  
.bt1,.bt2 {  
    position:relative;  
    top:18%;  
    vertical-align:middle;
}  

a.lk1:hover,a.lk2:hover{
    color:#000;  
    transition:all 0.5s;
    text-decoration:none; 
}
a.lk1:visited ,a.lk2:visited {
	text-decoration: none;
}

.link1:hover,.link2:hover {  
    background-color:#fff;  
    /*background-color:rgba(255,255,255,0,2);  */
    border:1px solid #bbb;  
    transition:all 0.8s;  
}  

