<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.justwithme.withme">

    <!-- 获取访问网络的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="Android:icon, android:theme"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.RegisterActivity"
            android:label="@string/title_activity_regist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".WebSocket.ClientService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Activity.GroupChatActivity"
            android:label="@string/title_activity_group_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.NaviActivity"
            android:label="@string/title_activity_navi"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>