.wrapper {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation-delay: 0.5s;
}

.wrapper.form-success .container h1 {
  -webkit-transform: translateY(85px);
      -ms-transform: translateY(85px);
          transform: translateY(85px);
}
.container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 7%;
  padding: 80px 0;
  height: 400px;
  text-align: center;
}
.container h1 {
  font-size: 40px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;
  font-weight: 200;
}
.form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
.form {
  font-family:"Microsoft YaHei";
  color: white;
  font-weight: 300;
}
.form ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family:"Microsoft YaHei";
  color: white;
  font-weight: 300;
}
.form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family:"Microsoft YaHei";
  color: white;
  opacity: 1;
  font-weight: 300;
}
.form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family:"Microsoft YaHei";
  color: white;
  opacity: 1;
  font-weight: 300;
}
.form :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family:"Microsoft YaHei";
  color: white;
  font-weight: 300;
}
.form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-family: "Microsoft YaHei";
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  font-weight: 300;
}
.form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.form input:focus {
  background-color: white;
  width: 300px;
  color: #aaaaaa;
}
.form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: #f5f7f9;
  font-family: Microsoft YaHei;
  border: 0;
  padding: 10px 15px;
  color: #000;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.form button:hover {
  background-color: #f5f7f9;
}

.s-logo {
  padding-bottom : 25px; 
}

.jump {
  font-family: Microsoft YaHei;
  font-size: 20px;
  color: #fff;
  position: absolute;
  top:5%;
  right: 5%;
  animation-delay: 1s;
  z-index: 100;
}

a.jumpLink {
  text-decoration: none;
  color: #fff;
}

a.jumpLink {
  text-decoration: none;
  color: #fff;
}

a.jumpLink {
  text-decoration: none;
  color: #fff;
}

.offsetUps {
  margin-top: 6%;
}

.offsetUp {
  margin-top : 5%; 
}